<launch>

    <!--- Run Twist Mux -->
    <!--include file="$(find gromi_scan_planning)/launch/twist_mux.launch" /-->
 
    <!--include file="$(find gromi_scan_planning)/launch/bunker_hector_mapping.launch" /-->
 
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="0.1" />
	<param name="frame_id" type="string" value="map" />
        <param name="sensor_model/max_range" value="100.0" />
	<!--remap from="cloud_in" to="/laser_cloud_less_sharp" /-->
	<!--remap from="cloud_in" to="/vertical_cloud" /-->	
	<remap from="cloud_in" to="/segmented_cloud_pure" />
	<remap from="projected_map" to="map" />
	<param name="pointcloud_min_z" value="-0.3"/>
     	<param name="pointcloud_max_z" value="0.3"/>
    </node>

    <include file="$(find explore_lite)/launch/explore.launch" />
 
    <!--include file="$(find frontier_exploration)/launch/explore_costmap.launch" /-->
 
    <!--node pkg="gromi_scan_planning" type="find_best_frontier.py" name="explore" output="screen" /-->

    <!--node pkg="gromi_scan_planning" type="go_straight.py" name="explore" output="screen" /-->

    <!--node pkg="gromi_scan_planning" type="find_frontier_and_move.py" name="explore" output="screen" /-->

    <!--node pkg="gromi_scan_planning" type="explore_wo_scanning.py" name="explore" output="screen" /-->

    <!--node pkg="gromi_scan_planning" type="change_topic_name.py" name="change_topic_name" output="screen" /-->

    <!--node pkg="gromi_scan_planning" type="pt_generation.py" name="pt" output="screen"/-->
   
    <!--node pkg="gromi_scan_planning" type="explore_navigation.py" name="find_scan_positions" output="screen" /-->

</launch>
