<launch>

    <include file="$(find gromi_scan_planning)/launch/world.launch">
	<arg name="world_name" value="$(find gromi_scan_planning)/worlds/boxes.world" />
	<!-- cylinders, boxes, parking_lot -->
    </include>

    <include file="$(find gromi_scan_planning)/launch/gromi_loam_setup.launch" />

    <node pkg="gromi_scan_planning" type="pt_generation.py" name="pt" output="screen"/>
    
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="0.2" />
	<param name="frame_id" type="string" value="/map" />
        <param name="sensor_model/max_range" value="150.0" />
	<remap from="cloud_in" to="/segmented_cloud_pure" />
    </node>

    <node pkg="gromi_scan_planning" type="explore.py" name="explore" output="screen" />

    <node pkg="gromi_scan_planning" type="gromi_static_scan.py" name="gromi_static_scan" output="screen" />

    <node pkg="gromi_scan_planning" type="motor_controller.py" name="wheel_motor_controller" output="screen" />

    <node pkg="gromi_scan_planning" type="scan_motor_controller.py" name="scan_motor_controller" output="screen" />

</launch>
